<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../images/check-square-solid.svg" type="image/svg+xml">
  <title>Aplikacja TODO</title>
</head>
<body>
  <div class="container">
    <div class="wrapper">
      <section class="title">
        <h1>Zadania do wykonania <span></span></h1>
      </section>
      <section class="taskList">
          <div></div>
      </section>
      <section class="form">
        <form action="">
          <input type="text">
          <button>Dodaj zadanie</button>
        </form>
      </section>
    </div>
  </div>

  <script src="../models/Task.js"></script>
  <script src="../models/List.js"></script>
  <script src="../models/Render.js"></script>
  <script src="../models/App.js"></script>
  <script src="../app.js"></script>
</body>
</html>